.main{
  span{
    font-size: 14px;
  }
  .job{
    padding: 8px;
  }
  .allJobs{
    background-color: rgba(241, 241, 241, 0.889);
  }
   .successJobs{
    background-color: rgba(161, 235, 181, 0.89);
  }
  .inBrogressJobs{
    background-color: rgba(190, 208, 250, 0.882);
  }
  .failedJobs{
    background-color: rgba(250, 190, 196, 0.927);
  }
  .retryJobs{
    background-color: rgba(250, 222, 190, 0.89);

  }
}
