@if(data) {
<div class="px-2">
  <div class="border border-2 p-3 rounded-3 box">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p class="m-0 ps-2 fs-1">{{ data.title }}</p>
        <div class="vertical-align-center mt-2 mb-1 ps-3">
          <i class="fa-regular fa-copy fs-5 text-muted"></i>
          <span class="fw-medium fw-bold px-1">{{ data.total_jobs }}</span>
          <span class="fw-medium text-muted">Total Jobs</span>
        </div>

        <span class="fw-medium px-1">{{ data.status }}</span>
        <div class="mt-2">
          <span class="fw-medium text-muted">{{ data.date }}</span>
        </div>
      </div>
      <div>
        <i class="fa-solid fa-chevron-right pe-2 fs-4 text-danger"></i>
      </div>
    </div>
  </div>
</div>

}
