<section class="search py-5 rounded-bottom-4">
  <div class="container">
    <h3 class="text-white px-3 mb-3">Hi,May Abd-Elghany Awaad</h3>
    <div class="bg-white rounded-4 mt-3 px-3">
      <div class="d-flex align-items-center bar-div">
        <div class="start-div d-flex justify-content-around align-items-center">
          <p class="mb-0">Job Id</p>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="w-100 search-bar">
          <label for="search">test</label>
          <input
            id="search"
            type="search"
            class="form-control h-100"
            (input)="search($event)"
          />
        </div>
        <div class="border-start border-black border-2 search-icon">
          <i class="fa-solid fa-magnifying-glass fs-3 ms-2"></i>
        </div>
      </div>
    </div>
  </div>
</section>
